body {
  font-family: 'Roboto Mono';
  background-color: rgb(16,42,38)

}
html {
  scroll-behavior: smooth;
}
.title{
  display: flex;
}
.title1{
  display: none;
}
.Logo h1{
color:white;
font-size: 24px;
padding-top: 6px;
padding-left: 12%;
}
.About{
  display: block;
  padding-inline: 15%;
  margin-top: -640px;
  padding-top: 40px;
}
.footerWord{
  color: rgb(0, 0, 0);
}
.mobilemenu{
  display: none;
}
.Head1{
  position:absolute;
  top: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 15%;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration:none;
}
/* visited link */
a:visited {
  color: white;
}
.navbar{
  position:absolute;
  top: 55px;
  left:0;
  background-color: rgba(2, 12, 27, 0.187);
  width: 100%;
  height: 60px;
}
.navbar h3{
  color: white;
  position: absolute;
  right: 12%;
}
.navbar a{
  padding: 12px;
}
.navbar a:hover{
  padding: 12px;
  color: #1af2fd;
  cursor: pointer;

}
.aboutMe{
  padding-top: 60px;
  display: flex;
}
.aboutMe img{
  width: 360px;
  height: 500px;
  border-radius: 8px;
}
.AboutMeWords{
  padding: 12px;
  padding-left: 48px;
  color: rgb(182, 178, 178);
}
.SkillOpener{
  color: rgb(182, 178, 178);
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

.hero{
  padding-top: 240px;
}
.hero h1{
  font-size: 80px;
  color: rgb(182, 178, 178);
  text-align: center;
  padding-inline: 15%;
}
.hero p{
  text-align: center;
  margin-inline: 15%;
  padding-block: 30px;
  font-size: 16px;
}
.hero samp{
  text-align: center;
  background-color:  rgb(182, 178, 178);
  padding-inline: 10px;
  padding-block: 10px;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  padding: 0 50px 0 10px;
  border: 2px solid #656464;
  border-radius: 10px;
}

.box h2 {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.hero span::after {
  content: "";
  width: 2px;
  height: 20px;
  background: black;
  position: absolute;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
.AboutMeWords{
  padding-top: 60px;
}
.AboutMeWords p{
  padding-left: 12px;
  padding-top: 20px;
  font-size: 18px;
}
.AboutMeWords h4{
  padding-left: 12px;
}
.ProjectContainer{
  margin-top: 20px;
  padding-top: 100px;
  margin-inline: 15%;
  color: rgb(182, 178, 178);
  display: block;
}
#experience{
  padding-top: 40px;
}
.ProjectContainer h2,h3{
  color: white
}
.skills{
  margin-top: 80px;
  padding: 20px;
  padding-block: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: rgba(132, 155, 138, 0.148);
}
.contactForm{
width: 60%;
margin-left: 20%;
margin-top: 80px;
height: 480px;
background-color: rgba(2, 12, 27, 0.187);
padding-top: 40px;
}
.Form{
  margin-left: 20%;
}
.Form input{
  width: 75%;
  height: 20px;
  padding-block: 4px;
  background-color:white;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  padding: 10px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.scroll{
  margin-inline: 15%;
  margin-top: 40px;
}
.scroll h4{
  font-weight: 200;
  font-size: 16px;
  color: rgb(182, 178, 178);
  margin-bottom: 5px;
  }
  #skills{
    margin-inline: 15%;
    padding-top: 40px;
  }
  .vl {
      border-left: 1px solid white;
      height: 60px;
      margin-left: 2px;
    }
    .professional{
      margin-top: 80px;
      padding: 20px;
      padding-block: 40px;
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      background-color: rgba(132, 155, 138, 0.148);
    }
    .professional .skill{
      margin: 10px;
text-align: center;
padding: 10px;
height: 100px;
background-color: rgb(16,42,38);
color:rgb(182, 178, 178);
    }
    .SkillOpener{
      margin-block: 60px;
    }
.contactForm p{
  color: rgb(182, 178, 178);
  padding-bottom: 20px;
}
.Form textarea{
 width: 75%;
 height: 150px;
 font-size: 16px;
 color: white;
 padding: 10px;
 outline: none;
padding-block: 4px;
background-color:white;
border: 1px solid rgba(10, 180, 180, 1);
border-top: none;
border-left: none;
border-right: none;
}
#send-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  }
}
.skill{
margin: 30px;
text-align: center;
padding: 20px;
height: 60%;
background-color: rgb(16,42,38);
}
.skill:hover{
  transform: scale(1.02); 
  }
.skill img{
  width: 100%;
  height: 120%;
}

.icons{
  display: flex;
  align-items: center;
justify-content: center;
}
.Arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -40px;
}
.next{
  display: flex;
  color: rgba(255, 255, 255, 0.816);
}
.back{
  position: absolute;
  margin-top: -70px;
  left: 45%;
  color: rgba(255, 255, 255, 0.816);
}
.AllIcons{
  padding: 28px;
  opacity: 0.6;
  font-size: 40px;
}
.AllIcons:hover{
  padding: 28px;
  opacity: 1.0;
}
.ContactMe{
  position: relative;
  margin-top: 100px;
  padding-top: 30px;
  padding-inline: 100px;
}
#skills{
  margin-top: 80px;
}

.ContactMe h2{
color: white;
}
.projectImg1{
  width: 300px;
}
.projectWords1{
  padding-left: 60px;
}
.projectWords1 p{
  background-color: rgb(60, 103, 104);
}
.gy{
  padding-left: 60px;
}
.left{
  writing-mode: vertical-rl; 
  position:fixed;
  top: 50%;
  left: 0%;
  color: rgb(182, 178, 178);
  padding-top: 30px;
  font-size: 12px;
}
.right{
  writing-mode: vertical-rl; 
  position:fixed;
  top: 50%;
  right: 0%;
  font-size: 12px;
  color: rgb(182, 178, 178);
}
.pline {
  width: 50%;
  margin: auto;
  margin-top: -5%;
  margin-bottom: -5%;
  transform: rotate(0deg);
  border-color: #1af2fd;
}
.icons p{
display: flex;
}
h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 3px solid rgba(2, 12, 27, 0.405);
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h2 span { 
  background-color: rgb(16,42,38);
   color: white;
   padding:0 10px; 
}
h5{
  font-size: 24px;
  margin-top: -4px;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #000000 29%,
    #595959 68%,
    #ffffff 29%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 32px;
  margin-top: 15%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*Responsiveness */
@media (max-width: 1292px) {
  .AboutMeWords{
    padding-top: 10px;
  }
  .AboutMeWords p{
    padding-left: 12px;
    padding-top: 5px;
    font-size: 18px;
  }
  .skill p{
    font-size: 12px;
  }
  .skill{
    margin: 30px;
    text-align: center;
    padding: 20px;
    height: 160px;
    background-color: rgb(16,42,38);
    }
    .skill:hover{
      transform: scale(1.02); 
      }
}
@media (max-width: 1029px) {
  .AboutMeWords{
    padding-top: 10px;
  }
  .AboutMeWords p{
    padding-left: 12px;
    padding-top: 5px;
    font-size: 16px;
  }
}
@media (max-width: 975px) {
  .aboutMe{
    display: block;
    padding-inline:0;
  }
  .aboutMe img{
    display: block;
    padding-inline:20%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .professional{
    margin-top: 80px;
    padding: 20px;
    padding-block: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: rgba(132, 155, 138, 0.148);
  }
  .skills .skill{
    height: 100px;
    width: 200px;
    padding-right: 20px;
    margin-left: 10px;
   
  } 
  .skill img{
  width: 200px;
  height: 130px;
  }
}

@media (max-width: 768px) {
  .skills{
    margin-inline: 15%;
    display: block;
    
  }
  .skill{
    padding-bottom: 100px;
  }
  .skills .skill{
    height: 100%;
    width: 88%;
    padding: 1%;
    margin-inline: 5%;
   
  } 
  .skill img{
    padding: 10px;
  }
  .aboutMe img{
  margin-inline: 5%;
  width: 85%;
  height: 70%;
  margin-bottom: 30px;
  }
  .AboutMeWords{
    padding-left: 0;
    padding-top: 5px;
    margin-inline: 5%;
  }
  .contactForm{
    width: 70%;
    margin-inline: 15%;
    margin-top: 80px;
    height: 480px;
    background-color: rgba(2, 12, 27, 0.187);
    padding-top: 40px;
    }
    .Form{
      margin-left: 10%;
    }
    .Form input{
      width: 85%;
      height: 20px;
    }
    .Form textarea{
      width: 85%;
    }
  .Logo h1{
    color:white;
    font-size: 18px;
    }
.navbar a{
  display: none;
}
.mobilemenu{
  display: flex;
  position:absolute;
  top: 0px;
  right: 0;
}
.aboutMe{
  display: block;
  padding-inline:0;
}
.aboutMe img{
  display: block;
  padding-inline:2%;
}
.ProjectContainer1{
  display: block;
}
.project{
  display: block;
}
.ContactMe{
  padding-inline:0%;
}
.icons{
  padding-inline: 0;
}
.AllIcons{
  padding-inline: 30px;
  margin-left: -10px;
  width: 18px;
}
.right,.left {
 display: none;
}
.aboutMe img{
  width: fit;
  border-radius: 8px;
}
.navbar{
  right: 0%;
}
.EE{
  font-size: 18px;
}
.ProjectContainer{
  padding-top: 20px;
  margin-left: 0;
  width: 100%;
}
.built{
  padding-right: 10px;
}
.projectWords{
  padding-left: 18px;
}
.projectWords1{
  padding-left: 18px;
}
.gy img{
  padding-left:0px;
}
.title{
  display: none;
}
.title1{
  display: flex;
  padding-left: 40px;
}
.projectImg{
  width: 40%;
}
.mobileNav.active a{
  margin-top: 2px;
}
.mobileNav a{
  display: block;
  color: white;
}
.professional{
  margin-top: 80px;
  padding: 20px;
  padding-block: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: rgba(132, 155, 138, 0.148);
}
.professional .skill p{
  display: none;
}
.professional .skill {
  width: 60%;
  height: 60px;
}
}
@media (max-width: 693px) {
.hero{
  margin-inline: 5%;
}
.About{
  margin-inline: 5%;
  padding-inline: 0;
}
#skills{
  margin-inline: 5%;
}
.skills{
  margin-inline: 5%; 
}
.skills .skill img{
  width: 75%;
}
.contactForm{
  width: 90%;
  margin-inline: 5%;
  }
  .hero h1{
    font-size: 80px;
    text-align: left;
    padding-inline: 5%;
  }
  .hero p{
    text-align: left;
    padding-left: 10%;
    margin-inline: 5%;
    padding-block: 30px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .scroll{
    margin-inline: 5%;
  }
}
@media (max-width: 573px) {
  .hero h1{
    font-size: 50px;
  }
  .scroll{
    margin-top: 160px;
    margin-inline: 5%;
  }
}
@media (max-width: 533px) {
.AllIcons{
  font-size: 24px;
  padding-inline: 20px;
}
}